<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar placeholder="Destino" (ionChange)="buscarEndereco($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
<ion-list  [hidden]="!listaEnderecos.length">
  <ion-item button *ngFor="let endereco of listaEnderecos" lines="full" (click)="tracarRota(endereco)">
  {{endereco.description}}
  </ion-item>

</ion-list>

 <div #map id="map"></div>
</ion-content>
